.DescriptionBox {
    margin: 120px 170px;
}

.DescriptionBox-navigator {
    display: flex;
}

.DescriptionBox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.DescriptionBox-nav-box.fade {
    background: #fbfbfb;
    color: #555;
}

.DescriptionBox-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 48px;
    padding-bottom: 15px;
    max-height: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.DescriptionBox-description-container {
    border: 1px solid #d0d0d0;
    position: relative;
}

.DescriptionBox-description.collapsed {
    max-height: 390px;
    overflow: hidden;
}

.DescriptionBox-description.expanded {
    max-height: 1000px;
    overflow-y: auto;
}

.DescriptionBox-toggle {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    margin-top: 20px;
    margin-bottom: 48px;
    margin-left: 48px;

}

.DescriptionBox-toggle:hover {
    background-color: #a02121;
}


@media(max-width: 1280px) {
    .DescriptionBox {
        margin: 60px;
    }

    .DescriptionBox-nav-box {
        font-size: 15px;
        width: 165px;
        height: 60px;
    }

    .DescriptionBox-description p {
        font-size: 14px;
    }

    .DescriptionBox-description {
        padding: 38px;
        padding-bottom: 15px;
    }

    .DescriptionBox-toggle {
        margin-bottom: 38px;
        margin-left: 38px;
    }


    .DescriptionBox-description.collapsed {
        max-height: 280px;
    }
}

@media(max-width: 1024px) {
    .DescriptionBox {
        margin: 60px 30px;
    }

    .DescriptionBox-nav-box {
        font-size: 14px;
        width: 155px;
        height: 50px;
    }

    .DescriptionBox-description p {
        font-size: 13px;
    }

    .DescriptionBox-description {
        gap: 10px;
        padding: 28px;
        padding-bottom: 10px;
    }

    .DescriptionBox-toggle {
        margin-bottom: 28px;
        margin-left: 28px;
        padding: 6px 12px;
        font-size: 11px;
    }

    .DescriptionBox-description.collapsed {
        max-height: 195px;
    }


}

@media(max-width: 768px) {
    .DescriptionBox {
        margin: 40px 10px;
    }

    .DescriptionBox-nav-box {
        font-size: 12px;
        width: 135px;
        height: 35px;
    }

    .DescriptionBox-description p {
        font-size: 12px;
    }

    .DescriptionBox-description {
        gap: 8px;
        padding: 19px;
        padding-bottom: 8px;
    }

    .DescriptionBox-toggle {
        margin: 10px 0 19px 19px;
        padding: 5px 9px;
        font-size: 10px;
    }

    .DescriptionBox-description.collapsed {
        max-height: 165px;
    }
}

@media(max-width: 500px) {
    .DescriptionBox {
        margin: 40px;
    }

    .DescriptionBox-nav-box {
        font-size: 14px;

    }

    .DescriptionBox-description p {
        font-size: 13px;
    }

    .DescriptionBox-description {
        gap: 10px;
        padding: 28px;
    }

    .DescriptionBox-toggle {
        margin-bottom: 28px;
        margin-left: 28px;
        padding: 6px 12px;
        font-size: 11px;
    }

    .DescriptionBox-description.collapsed {
        max-height: 244px;
    }
    
}