.Navbar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 16px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    transition: background-color 0.3s ease;

}

.Navbar-scrolled {
    background-color: #edede9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Navbar-logo img {
    width: 70px;
    height: 70px;
}

.Navbar-logo h1 {
    color: #000103;
    font-size: 38px;
    font-weight: 100;
}

.Navbar-nav {
    display: flex;
}

.Navbar-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
}

.Navbar-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.Navbar-nav-link {
    text-decoration: none;
    color: #000103;
    transition: all 0.5s;
}

.Navbar-nav-link:hover {
    color: #FF4141;
}

.Navbar-nav hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.Navbar-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.Navbar-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #000103;
    border-radius: 75px;
    color: #000103;
    font-size: 20px;
    font-weight: 100;
    background: white;
    cursor: pointer;
    transition: all 0.6s;
}

.Navbar-login-cart button:active {
    background: #f3f3f3;
}

.Navbar-login-cart button:hover {
    color: #FF4141;
}

.Navbar-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #FF4141;
    color: white;
}

.Navbar-dropdown {
    display: none;
}

@media(max-width: 1280px) {
    .Navbar {
        padding: 12px 50px;
    }

    .Navbar-logo img {
        width: 40px;
        height: 40px;
    }

    .Navbar-logo h1 {
        font-size: 35px;
    }

    .Navbar-nav ul {
        gap: 30px;
        font-size: 16px;
    }

    .Navbar-login-cart {
        gap: 30px;
    }

    .Navbar-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }

    .Navbar-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }

}

@media(max-width:1024px) {
    .Navbar {
        padding: 12px 30px;
    }

    .Navbar-nav ul {
        gap: 25px;
        font-size: 14px;
    }

    .Navbar-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px
    }

    .Navbar-login-cart img {
        width: 30px;
        height: 30px;
    }

    .Navbar-cart-count {
        width: 18px;
        height: 18px;

    }
}

@media(max-width:768px) {
    .Navbar {
        padding: 10px 0;
    }

    .Navbar-dropdown {
        display: block;
        width: 30px;
        transform: rotate(-90deg);
        transition: all 0.5s;
        cursor: pointer;
    }

    .Navbar-nav ul {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
        right: 0;
        transition: background-color 0.3s ease, visibility 0s, opacity 0.5s ease, max-height 0.5s ease;
    }

    .Navbar-dropdown:hover+ul,
    .Navbar-nav:hover ul {
        visibility: visible;
        opacity: 1;
        max-height: 80px;
    }

    .Navbar-dropdown:hover {
        transform: rotate(0);
    }

    .Navbar-nav-visible ul {
        visibility: visible;
        opacity: 1;
        max-height: 80px;
    }

    .Navbar-scrolled ul {
        background-color: #edede9;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .Navbar-dropdown.open {
        transform: rotate(0);
    }
}

@media(max-width: 500px) {
    .Navbar {
        padding: 8px 0;
        gap: 0;
    }

    .Navbar-logo {
        transform: scale(0.8);
    }

    .Navbar-nav ul {
        height: 70px;
    }

    .Navbar-login-cart {
        transform: scale(0.8);
    }
}