.NewsLetter {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 140px;
    padding-top: 50px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/newsLetter_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    gap: 30px;
}

.NewsLetter h1 {
    color: #dbe9ee;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
}

.NewsLetter p {
    color: #dbe9ee;
    font-size: 20px;
}

.NewsLetter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 580px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.NewsLetter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.NewsLetter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width: 1280px) {
    .NewsLetter {
        padding: 0 130px;
        padding-top: 40px;
        margin-top: 80px;
    }

    .NewsLetter h1 {
        font-size: 50px;
    }

    .NewsLetter p {
        font-size: 18px;
    }

    .NewsLetter div {
        width: 480px;
        height: 60px;
    }

    .NewsLetter input {
        width: 400px;
        font-size: 14px;
    }

    .NewsLetter div button {
        width: 190px;
        height: 60px;
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .NewsLetter {
        height: 40vh;
        padding: 0 120px;
        margin-top: 70px;
        gap: 10px;
    }

    .NewsLetter h1 {
        font-size: 30px;
    }

    .NewsLetter p {
        font-size: 16px;
    }

    .NewsLetter div {
        width: 380px;
        height: 50px;
    }

    .NewsLetter input {
        width: 300px;
        font-size: 13px;
    }

    .NewsLetter div button {
        width: 170px;
        height: 50px;
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    .NewsLetter {
        height: 30vh;
        padding: 0 50px;
        margin-top: 50px;
    }

    .NewsLetter h1 {
        font-size: 26px;
    }

    .NewsLetter div {
        width: 280px;
        height: 40px;
    }

    .NewsLetter input {
        width: 200px;
        font-size: 12px;
    }

    .NewsLetter div button {
        width: 140px;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width: 500px) {
    .NewsLetter {
        width: 90%;
        padding: 0 40px;
    }

    .NewsLetter h1 {
        font-size: 24px;
    }

    .NewsLetter p {
        font-size: 15px;
    }


    .NewsLetter input {
        font-size: 13px;
    }

    .NewsLetter div button {
        font-size: 13px;
    }
}